{% extends 'base/base.html' %}

{% block title %}
   {{ titulo }}
{% endblock %}

{% block content %}
   <h4> Buscar Vuelo </h4>

   <div>
      <form action="/viajesbuscados/" method="post">
          <div>
              <input type="text" name="ciudad_origen" placeholder="Ciudad origen" value="">
              <input type="text" name="ciudad_destino" placeholder="Ciudad destino" value="">
          </div>
          <div>
              <button>Buscar</button>
          </div>
      </form>
  </div>

{% endblock %}