{% extends 'base/base.html' %}

{% block title %}
   {{ titulo }}
{% endblock %}

{% block content %}
   
      <div class="container">
         <form class="main-form">
            <h2>ENCUENTRA TU VUELO</h2>
            <div class="row">
               <div class="col-md-9">
                  <div class="row">
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <select class="form-control" name="ida_vuelta">
                           <option>Ida y vuelta</option>
                           <option>Solo Ida</option>
                        </select>
                     </div>

                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <select class="form-control" name="personas">
                           <option>1 adulto</option>
                           <option>2 adultos</option>
                           <option>1 adulto + 1 niño</option>
                           <option>2 adultos + 1 niño</option>
                        </select>
                     </div>

                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <select class="form-control" name="clase">
                           <option>Economica</option>
                           <option>Ejecutiva</option>
                        </select>
                     </div>

                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label >Desde</label>
                        <input class="form-control" placeholder="" type="text" name="">
                     </div>

                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label >Destino</label>
                        <input class="form-control" placeholder="" type="text" name="">
                     </div>                    
                     
                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label >Salida</label>
                        <input class="form-control" placeholder="Any" type="date" name="Any">
                     </div>

                     <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <label >Regreso</label>
                        <input class="form-control" placeholder="Any" type="date" name="Any">
                     </div>
                     
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                  <a href="#">search</a>
               </div>
            </div>
         </form>
      </div>

{% endblock %}